@import 'variables';

.filter-tab {
  background-color: $grey-light;
  font-size: larger;
  font-weight: 700;
  padding: 0.75rem 1.125rem;
  cursor: pointer;
  user-select: none;
  margin-left: 0.75rem;
  border-radius: 0.5625rem;

  &:hover {
    background-color: $grey;
  }
}
